# Rider
.idea/
*.sln.iml

# Build artefacts
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Entity Framework migration snapshot
Migrations/*Snapshot.cs

# Local SQLite database
*.db
*.db-shm
*.db-wal
*.sqlite

# Logs
*.log

# Secrets
secrets.json
.env

#Visual
.vs/